.DS_Store
.ideas/
.vscode/
/bin/
/docs/ref/
/example_project/
/example_projects/
/test_project/
/test_projects/
/lib/
/.shards/
/coverage/
/run_tests
*.dwarf
.icr_*
*.db
.*.swp
/shard.lock
/tmp/

# Specs
.spec.env.json
/spec/assets/
/spec/media/
/spec/marten/cli/admin_spec/new_project
/spec/marten/cli/admin_spec/existing_project/*
!/spec/marten/cli/admin_spec/existing_project/manage.cr
/spec/marten/cli/generator_spec/*
!/spec/marten/cli/generator_spec/app.cr
/spec/marten/cli/generator/email_spec/main_app/*
/spec/marten/cli/generator/handler_spec/main_app/*
/spec/marten/cli/generator/model_spec/main_app/*
/spec/marten/cli/generator/schema_spec/main_app/*
/spec/marten/cli/manage/command/new_spec
