# Third party requirements.
require "marten"
<%- if context.targets_auth? -%>
require "marten_auth"
<%- end -%>
require "sqlite3"

# Configuration requirements.
require "../config/settings/base"
require "../config/settings/**"
require "../config/initializers/**"
require "../config/routes"

# Project requirements.
<%- if context.targets_auth? -%>
require "./apps/auth/app"
<%- end -%>
require "./handlers/**"
require "./models/**"
require "./schemas/**"
