module <%= context.module_name %>
  ROUTES = Marten::Routing::Map.draw do
    # Define application routes here.
    #
    # Learn more about routing in Marten at:
    # https://martenframework.com/docs/handlers-and-http/routing
  end
end
