create_table <%= format_string_or_symbol(@name) %> do
  <%- @columns.each do |column| -%>
  column <%= column.serialize_args %>
  <%- end -%>
  <%- if !@unique_constraints.empty? -%>

  <%- @unique_constraints.each do |unique_constraint| -%>
  unique_constraint <%= unique_constraint.serialize_args %>
  <%- end -%>
  <%- end -%>
  <%- if !@indexes.empty? -%>

  <%- @indexes.each do |index| -%>
  index <%= index.serialize_args %>
  <%- end -%>
  <%- end -%>
end
