module <%= context.module_name %>
  class SignInHandler < Marten::Handlers::Schema
    include RequireAnonymousUser

    schema SignInSchema
    template_name "<%= context.label %>/sign_in.html"
    success_route_name "<%= context.label %>:profile"

    after_successful_schema_validation :sign_in_user

    private def sign_in_user
      MartenAuth.sign_in(request, schema.user.not_nil!)
    end
  end
end
