class <%= context.class_name %> < <% if !context.parent.nil? %><%= context.parent %><% else %>Marten::Model<% end %>
  # Learn more about models in Marten at:
  # https://martenframework.com/docs/models-and-databases/introduction

  <%= context.pk_field_definition.render -%>
  <% context.field_definitions.each do |field_definition| %>
  <%= field_definition.render -%>
  <% end %>
  <%- if !context.no_timestamps? %>
  with_timestamp_fields
  <%- end -%>
end
