Marten.configure do |config|
  config.secret_key = "__insecure_#{Random::Secure.random_bytes(32).hexstring}__"

  # config.installed_apps = []

  config.database do |db|
    db.backend = :sqlite
    db.name = Path["<%= @context.name %>.db"].expand
  end
end
