Marten.configure do |config|
  # IMPORTANT: please ensure the secret key value is kept secret!
  config.secret_key = "__insecure_<%= Random::Secure.random_bytes(32).hexstring %>__"

  # config.installed_apps = []

  config.middleware = [
    Marten::Middleware::Session,
    Marten::Middleware::Flash,
    Marten::Middleware::GZip,
  ]

  config.database do |db|
    db.backend = :sqlite
    db.name = Path["<%= @context.name %>.db"].expand
  end
end
