Your text email template should be defined in this file.
{# Please refer to the following documentation to learn more about templates: #}
{# https://martenframework.com/docs/templates/introduction #}
