nav.navbar {
  background: linear-gradient(-45deg, #904e95 0, #eb6864);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  &.navbar-sidebar--show {
    @media (max-width: 997px) {
      button.clean-btn {
        svg {
          color: gray;
        }
      }

      .navbar__title {
        color: var(--ifm-color-primary);

        &:after {
          color: gray;
        }
      }
    }
  }

  button.clean-btn {
    &:hover, &:focus {
      background: var(--ifm-color-primary);
    }

    svg {
      color: var(--ifm-navbar-link-color);
    }
  }

  .navbar__logo img {
    margin-top: -1px;
  }
  .navbar__title {
    font-family: Comfortaa;

    &:after {
      font-size: 0.8rem;
      color: gray;
      content: " DOCS";
    }

    @media (max-width: 997px) {
      &:after {
        color: white;
      }
    }
  }

  .navbar__item.navbar__link {
    svg {
      display: none;
    }
  }
  .menu__link {
    svg {
      display: none;
    }
  }

  .dsla-search-wrapper {
    button {
      padding: 0 20px 0 8px;
      border-radius: 20px;

      .aa-DetachedSearchButtonIcon {
        margin-right: 5px;
        width: 24px !important;

        svg {
          color: var(--ifm-color-primary);
        }
      }
    }
  }
}
