Use the following link to reset your password: <a href="{{ request.scheme }}://{{ request.host }}{% url '<%= context.label %>:password_reset_confirm' uid: uid, token: password_reset_token %}">Click Here</a>
