# Third party requirements.
require "marten"
require "sqlite3"

# Project requirements.
require "./models/**"
require "./schemas/**"
require "./views/**"

# Configuration requirements.
require "../config/routes"
require "../config/settings/base"
require "../config/settings/**"
